@tailwind base;
@tailwind components;
@tailwind utilities;

.poppins{
    font-family: 'Poppins', sans-serif;
  }
 
  .nav_head{ 
    font-family: 'Satisfy', cursive;
  }
  .head_text{
    font-family: 'Yeon Sung', cursive;
  }
  strong{
    letter-spacing: 1px;
  }
  /* for author name */

  .author_name{
    font-family: 'Noto Serif Ahom', serif;
  }
  /* for choose blog headers  */
  .heading_text{
    font-family: 'Lobster Two', cursive;
  }
  /* glass background */
  .glass_background {
    background: linear-gradient(to bottom, rgb(0 0 0 / 60%) 0%, rgb(0 0 0 / 30%) 100%), 
    radial-gradient(circle at top left, rgb(0 0 0 / 50%), rgb(255 254 254 / 0%));
    background-blend-mode: screen;
  }

  /* button link */

  .page_btn {
    border: none;
    background: none;
    white-space: nowrap;
  }
  
  .page_btn span {
    padding-bottom: 7px;
    letter-spacing: 1px;
    font-size: 12px;
    padding-right: 8px;
    text-transform: capitalize;
  }
  
  .page_btn svg {
    transform: translateX(-8px);
    transition: all 0.3s ease;
    color:#B4C6EF;
    position: relative;
    bottom: 2px;
  }
  
  .page_btn:hover svg {
    transform: translateX(0);
  }
  
  .page_btn:active svg {
    transform: scale(0.9);
  }
  
  .hover-underline-animation {
    position: relative;
    color: #B4C6EF;
    padding-bottom: 20px;
    
  }
  
  .hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #B4C6EF;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .page_btn:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }


  /* author image blog css */
  .blob { 
    
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }
  
  @media (max-width:768px) {
    .author_descrioptions > p{
      font-size: 14px;
      text-align: justify;
    }
  }
  
  
  
  